* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    font-size: 30px;
    padding: .5em;
    text-align: center;
    background-color: antiquewhite;
}

.navbar {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 3em;
    background-color: gray;
    padding: 1em;
}

a {
    text-decoration: none;
    color: black;
    gap: 1em;
}
/* 
img {
    width: 100%;
    height: 70vh;
} */

.hero {

    background-image: url(nature.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: end;
    text-align: center;
    align-items: center;
}
.hero h1 {
    color: white;
    font-size: 50px; 
}

.menu h1 {
    color: black;
    padding: .5em;
    font-size: 40px;
}

.menu {
    padding: .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu p {
    display: flex;
    justify-content: end;

}
.explore {
    padding: 1em;
    text-align: center;
    align-items: center;

}

.data {
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(111, 169, 5);
}

.data p {    
    display: flex;
    justify-content: space-between; 
}

.lorem {
    margin: 0 220px;
    padding: 2em;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.heading {
    display: flex;
    justify-content: space-between;
    
}
.heading a {
    justify-content: space-between;
    
}

.image {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: .5em;
    /* margin: 4em; */
    width: 100%;
    padding: .2em;
    background-color: black;

}
.image img {
    width: 100%;
}

.footers {
    background-color: rgb(179, 177, 177);
    padding: 8em;
    /* display: flex; */
    justify-content: space-between;
    /* align-items: center; */
}
